Thumbs.db
*.obj
*.dll
*.exe
*.sys
*.pdb
*.sdf
*.opensdf
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.exp
*.lib
*.sbr
*.res
*.mac
*.pft.xml
ipch/
objchk_*/
objfre_*/
build/